<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USB_PERMISSION" /> <!-- Optional permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For devices running Android 12 (API level 32) or higher and integrating Agora Video SDK version v4.1.0 or lower, you also need to add the following permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- For Android 12 or higher, the following permissions are also required -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paring"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".activity.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CallActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EarningActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BankDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PrivacypolicyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RefundActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TermsconditionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomerSupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeactivateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Stage3Activity"
            android:exported="true" />
        <activity
            android:name=".activity.SelfiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Stage2Activity"
            android:exported="true" />
        <activity
            android:name=".activity.Stage1Activity"
            android:exported="true" />
        <activity
            android:name=".activity.IdverficationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PurchaseverifybuttonActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Stage4Activity"
            android:exported="true" />
        <activity
            android:name=".activity.VerifiedActivity"
            android:exported="true" />
        <activity
            android:name=".activity.InviteFriendsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SpinActivity"
            android:exported="true" />
        <activity
            android:name=".activity.FreePointsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PurchasepointActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChatsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TripCompletedActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MyTripsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StarttripActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProfileDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data
                    android:host="www.dudeways.com"
                    android:pathPrefix="/path/to/serid" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
            android:exported="true">

            <!-- Edit android:value to change the url opened by the TWA -->
            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://YOUR_SITE_URL" />

            <!--
              This intent-filter allows the TWA to handle Intents to open
              YOUR_SITE_URL
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Edit android:host to handle links to the target URL -->
                <data
                    android:host="YOUR_SITE_URL"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gmwapp.dudeways.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>